<div class="{{ header_class }} center">
    <header class="head" id="top">
        <a class="logo" href="{% url 'index:index' %}"><img src="/static/img/logo.svg" alt="logo"></a>
        <input placeholder="Поиск" class="head__input" type="text">
        <nav class="menu">
            <a class="menu__link" href="/catalog/">Каталог</a>
            <a class="menu__link" href="/">Корзина</a>
        </nav>
    </header>
    <section class="top1">
        <h1 class="menu1">Всё, чего заслуживает ваш дом</h1>
        <p class="slang">Наша мебель - ваше отражение</p>
        <a class="gotocatalog" href="/catalog/">Перейти в Каталог</a>
    </section>
</div>

