<div class="top center">
    <header class="head" id="top">
        <a class="logo" href="{% url 'index:index' %}"><img src="/static/img/logo.svg" alt="logo"></a>
        <input placeholder="Поиск" class="head__input" type="text">
        <nav class="menu">
            <a class="menu__link" href="/catalog/">Каталог</a>
            <a class="menu__link" href="/">Корзина</a>
        </nav>
    </header>
    <section class="top1">
        <h1 class="menu1">Всё, чего заслуживает ваш дом</h1>
        <p class="slang">Наша мебель - ваше отражение</p>
        <a class="gotocatalog" href="/catalog/">Перейти в Каталог</a>
    </section>
</div>

<div class="for-box center">
    <h2 class="special">Мебель для ... </h2>
    <div class="for">
        <a href="/furniture_leisure/" class="for__item for__item_1 for__item_big">
            <div>ОТДЫХА</div>
        </a>

        <a href="/furniture_for_work/" class="for__item for__item_2 for__item_big">
            <div>РАБОТЫ</div>
        </a>

        <a href="/furniture_kitchen/" class="for__item for__item_3">
            <div>КУХНИ</div>
        </a>

        <a href="/furniture_child_room/" class="for__item for__item_4">
            <div>ДЕТСКОЙ</div>
        </a>

        <a href="/furniture_bathroom/" class="for__item for__item_5">
            <div>ВАННОЙ</div>
        </a>
    </div>
</div>