{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    {% block header %}
    {% include 'index/includes/inc_menu_header.html' %}
    {% endblock %}
</header>

<div class="for-box center">
    <h2 class="special">Мебель для ... </h2>
    <div class="for">
        <a href="/furniture_leisure/" class="for__item for__item_1 for__item_big">
            <div>ОТДЫХА</div>
        </a>

        <a href="/furniture_for_work/" class="for__item for__item_2 for__item_big">
            <div>РАБОТЫ</div>
        </a>

        <a href="/furniture_kitchen/" class="for__item for__item_3">
            <div>КУХНИ</div>
        </a>

        <a href="/furniture_child_room/" class="for__item for__item_4">
            <div>ДЕТСКОЙ</div>
        </a>

        <a href="/furniture_bathroom/" class="for__item for__item_5">
            <div>ВАННОЙ</div>
        </a>
    </div>
</div>

<main>

    {% block content %}
    {% include 'index/special_offers.html' %}
    {% include 'index/latest_products_in_catalog.html' %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
    {% include 'index/includes/inc_menu_footer.html' %}
    {% endblock %}
</footer>

</body>
</html>  