{% load static %}
{% load media_tags %}

<div class="product-box center">
    <h2 class="special">Специальные предложения</h2>
    <div class="product__class">
        {% for offer in special_offers %}
        <div class="product">
            <a href="#"><img class="product__img" src="{{ offer.image | media_filter }}" alt="{{ offer.product.name }}"></a>
            <h3 class="product">{{ offer.name }}</h3>
            <p class="product__text">{{ offer.description }}</p>
            <p class="product__text">{{ offer.category }}</p>
            <div class="product-box-price">
                <p class="price1">{{ offer.discounted_price }} руб.</p>
                <p class="price2">{{ offer.price }} руб.</p>
            </div>
        </div>
        {% empty %}
        <p>Нет специальных предложений</p>
        {% endfor %}
    </div>
</div>